

/* body{

display:flex;
flex-direction:column;
justify-content:center;

} */


 
.btn{
background-color: #E95A08;
font-weight:500 ;
width: 100%;
color: white;
font-size: medium;
padding: 12px;  ;

}
.text
{
color: #8987A1;
font-size:26px;



}
.h4{
color: #8987A1;
font-weight: 500;
}
.body{background-color: #F5F8FF;



}

.span
{
color:#E95A08 ;

}
@media screen and (min-width:428px) and (max-width:2660px){


.header
{
 max-width: 1400px;
margin: 0 auto;

}
.nav{

}

.banner{
margin-top: 150px;
display: flex;
flex-direction: row-reverse;

max-width: 100%;
}
.img
{
width: 100%;
}
.cart{
 gap: 50px;
}

.fresh-flower
{
align-items: end;
width: 100%;
}
.main{
max-width: 1440px;
margin: 0 auto;
}
.card
{
width: 100%;
gap: 20px;
}

.btn{
font-weight:500 ;
width: 100%;
color: white;
font-size: medium;
padding:10px  ;
}
.Lily-Blossom{
display: grid;
grid-template-columns: repeat(4,1fr);

}
.shop{
display: flex;
margin-top: 150px;

}
.badge{
width:50%;
height: 50%;
z-index: 10;
position: absolute;
right: -17%;
top: -22%
/* box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5) */
}
.lover{
width: 100%;
padding: 5% 0 5% 5%;
}
.lover ul li 
{
padding-bottom:5% ;
}
.flower-store
{
width: 100%;
margin-bottom: 0px;
z-index: 5;
position: relative;
}
.Latest-Deals{
display: flex;
width: 100%;
}
.bloom-container 
{
width: 50%;
padding-right: 20px;
margin-bottom: none;
}
.deal-zabo
{
width:100%;

}
.deal-zabo img
{
width: 100%;
}
}
@media screen and (max-width:425px){
.badge
{
display: none;
/* flex-direction:column ;
background-color: aqua; */
}
.text
{
font-size: 14px;
}
.f-size{
font-size: xx-large;
}

}